html { overflow-y: scroll; overflow-x:hidden; }
body { position: absolute; }
body {
    font-family: 'Lora', serif;
    background-color: #f0f8ff;
    text-align: center;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    margin-bottom: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.gradient-text {
    background: linear-gradient(to right, #ff0000, #ff69b4); /* Gradient from red to pink */
    -webkit-background-clip: text;
    color: transparent;
}
.animated-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
    margin: 20px 0;
    font-size: 1.5em;
    color: #ff69b4;
    max-width: 600px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.animated-text.visible {
    opacity: 1;
    transform: translateY(0);
}
.navbar {
    overflow: hidden;
    background-color: #333;
    padding: 14px 16px;
    text-align: center;
}
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    .animated-text {
        font-size: 1.2em;
    }
}