/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

xt-decoration: none;
}

main {
    padding: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
body {
    background-image: var(--color-bg);
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    position: relative; /* Ensure the body is the reference for absolute positioning */
}

.reveal-text {
    position: absolute;
    text-align: center;
	font-size: 24px;
    top: 60px; /* Adjust as needed */
    opacity: 0;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to right, #9527c1, #f79888); /* Gradient from hex to hex */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: reveal 1s ease-in-out 3s forwards; /* 5s delay before starting */
}

.reveal-text-1 {
    position: absolute;
    text-align: left;
	font-size: 16;
    top: 160px; /* Adjust as needed */
	left: 10px;
    opacity: 0;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to right, #f79888, #9527c1); /* Gradient from hex to hex */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: reveal 1s ease-in-out 6s forwards; /* 5s delay before starting */
}

.reveal-text-2 {
    position: absolute;
    text-align: left;
	font-size: 16;
    bottom: 160px; /* Adjust as needed */
	right: 10px;
    opacity: 0;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to right, #f79888, #9527c1); /* Gradient from hex to hex */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: reveal 1s ease-in-out 10s forwards; /* 5s delay before starting */
}
.blockmsg {
            display: none;
            color: #ff0000; /* Red color */
        }
@keyframes reveal {
    to {
        opacity: 1;
    }
}